<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoleMatrix</title>
    <link rel="icon" href="https://media.licdn.com/dms/image/v2/D4D35AQGdLAzd6lfrBg/profile-framedphoto-shrink_400_400/profile-framedphoto-shrink_400_400/0/1715699862205?e=1732986000&v=beta&t=vyh_OYPRB_6uLR56ckhtwLEfTLk2882nxa26mPsRA8g" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('./navbar') %> <%- include('./flash-message') %>
    <main>
