<%- include('./layouts/header') %>

<h1 class="main-title">Explore the World</h1>

<div class="image-section nature-section">
  <h2 class="section-title">Nature</h2>
  <div class="image-row">
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg" alt="Nature 1" class="image">
    <img src="https://biomimicry.org/wp-content/uploads/2024/09/igor-omilaev-qu-upKvvRHg-unsplash.jpg" alt="Nature 2" class="image">
    <img src="https://images.herzindagi.info/image/2024/Jul/world-nature-conservation-day-theme.jpg" alt="Nature 3" 
  </div>
</div>

<div class="image-section gaming-section">
  <h2 class="section-title">Gaming</h2>
  <div class="image-row">
    <img src="https://media.wired.com/photos/61f48f02d0e55ccbebd52d15/master/w_1920,c_limit/Gear-Rant-Game-Family-Plans-1334436001.jpg" alt="Gaming 1" class="image">
    <img src="https://as1.ftcdn.net/v2/jpg/05/66/48/76/1000_F_566487699_CDEZVGW2pLxkLVdxe7HtJxq569rIxMzz.jpg" alt="Gaming 2" class="image">
    <img src="https://cdn.autonomous.ai/static/upload/images/common/upload/20220401/Futuristic-Gaming-Setup-Ideas-for-PC-Gaming_2201563d47c.jpg" alt="Gaming 3" class="image">
  
  </div>
</div>

<div class="image-section movies-section">
  <h2 class="section-title">Movies</h2>
  <div class="image-row">
    <img src="https://cdn.pixabay.com/photo/2019/04/24/21/55/cinema-4153289_960_720.jpg" alt="Movie 1" class="image">
    <img src="https://www.livemint.com/lm-img/img/2024/08/14/600x338/GUx6GWGWMAEltIt_1723617424118_1723640671138.jpg" alt="Movie 2" class="image">
  </div>
</div>

<%- include('./layouts/footer') %>








